.shooting-star{

    position:absolute;

    width:110px;
    height:2px;

    pointer-events:none;

    z-index:2;

    opacity:0;

    background:linear-gradient(

        90deg,

        rgba(255,255,255,.95),

        rgba(255,235,180,.55),

        rgba(255,255,255,0)

    );

    filter:blur(.8px);

}

/* ====================================================== */
/* STAR 1 */
/* ====================================================== */

.star-1{

    top:18%;
    left:-220px;

    transform:rotate(20deg);

    animation:shoot1 26s linear infinite;

}

/* ====================================================== */
/* STAR 2 */
/* ====================================================== */

.star-2{

    top:8%;
    left:-180px;

    transform:rotate(15deg);

    animation:shoot2 41s linear infinite;

}

/* ====================================================== */
/* STAR 3 */
/* ====================================================== */

.star-3{

    top:30%;
    left:-240px;

    transform:rotate(23deg);

    animation:shoot3 58s linear infinite;

}


/* ====================================================== */

@keyframes shoot1{

    0%,95%{

        opacity:0;

        transform:
            translate(0,0)
            rotate(20deg);

    }

    96%{

        opacity:.9;

    }

    100%{

        opacity:0;

        transform:
            translate(170vw,60vh)
            rotate(20deg);

    }

}

@keyframes shoot2{

    0%,97%{

        opacity:0;

        transform:
            translate(0,0)
            rotate(15deg);

    }

    98%{

        opacity:.8;

    }

    100%{

        opacity:0;

        transform:
            translate(180vw,55vh)
            rotate(15deg);

    }

}

@keyframes shoot3{

    0%,96%{

        opacity:0;

        transform:
            translate(0,0)
            rotate(23deg);

    }

    97%{

        opacity:.85;

    }

    100%{

        opacity:0;

        transform:
            translate(165vw,48vh)
            rotate(23deg);

    }

}