.nezacalo-volume-2-page {
    min-height: 100vh;
    padding: 40px;
}

.nezacalo-volume-2-page a {
    text-decoration: none;
}

.nezacalo-volume-2-page section {
    max-width: 1000px;
    margin: 100px auto;
}